/* Module - Grid */
$component: 'dvg-grid';

.#{$component} {
    min-height: 100vh;

    &__wrap {
        margin: 0;
        padding: 0;
    }

    &__container {
        margin-left: auto;
        margin-right: auto;
        width: 980px;
    }

    &__content {
        display: grid;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0 122px;
        max-width: 980px;
        grid-template-columns: 370px 200px 370px;
        grid-auto-rows: 320px;
        grid-column-gap: 20px;
        column-gap: 20px;
        grid-row-gap: 20px;
        row-gap: 20px;
    }

    &__tile {
        box-sizing: border-box;
        padding: 0;
        border-radius: 25px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background: #000;
        color: #fff;

        &-1col-1row {
            grid-column: auto/span 1;
            grid-row: auto/span 1;
        }

        &-1col-2row {
            grid-column: auto/span 1;
            grid-row: auto/span 2;
        }

        &-2col-1row {
            grid-column: auto/span 2;
            grid-row: auto/span 1;
        }

        &-2col-2row {
            grid-column: auto/span 2;
            grid-row: auto/span 2;
        }
        
        &-content {
            position: relative;
            height: 100%;
            box-sizing: border-box;
            padding: 15px;
            margin-left: auto;
            margin-right: auto;

            &--title {

            }

            &--image {
                overflow: hidden;
                position: relative;
                // width: auto;
                // height: auto;

                img {
                    width: 100%;
                }
            }
        }
    }
}