#root {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    color: #000;
    height: 15000px;
}

/* Module - Contents */
$component: 'develuga';

.#{$component} {
    display: flex;
    flex-direction: column;
}